.nav {
  background-color: white;
}


.card {
  float: left;
  max-width: 530px;
}
.card-body {
  padding: 2rem 2rem 1rem 2rem;
  margin: 0.5rem;
}

.liner {
  white-space: pre-line;
}
.beername {
  white-space: pre-line;
}
.beer-style {
  white-space: pre-line;
}

.nav {
  display: block;
}
.wantit {
  margin-left: -0.5rem;
}
.container {
  position: relative;
  width: 100%;

  margin: 0 auto;
}

.brewery {
  text-align: right;
}
.btn {
  margin-top: 1rem;
}

@media (max-width: 411px) {
  .card {
    max-width: 88vw;
  }
  .liner {
    font-size: 5vw;
  }
  .beername {
    font-size: 7vw;
    white-space: pre-line;
    margin-bottom: 1rem;
  }
  .brewery {
    font-size: 5vw;
  }
}
@media (min-width: 768px) {
  .beername {
    white-space: pre-wrap;
    height: 30px;
  }
  .brewery {
    margin-top: 1rem;
  }
}
.hr {
  margin: 0.5rem 0 0.5rem 0;
}
.avg {
  color: #333;
  white-space: nowrap;
}
